*{
    margin: 0;
    padding: 0;
}
body{
    color: #515978;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    font-family: Lato, Muli, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    overflow: auto;
}


#header{
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
  }
  #header .header{
    min-height: 8vh;
    background-color: white;
  }
  #header .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
  }
  #header span{
      color: crimson;
  }
  
  #header .nav-list ul{
    list-style: none;
    position: absolute;
    background-color: snow;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
  }
  
  #header .nav-list ul.active{
    left: 0;
  }
  #header .nav-list ul a{
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
  }
  #header .nav-list ul li:hover a{
    color: crimson;
  }
  #header .humburger{
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 0px ;
  }
  
  #header .humburger .bar{
    height: 2px;
    width: 30px;
    position: relative;
    background-color: black;
    z-index: -1;
  
  }
  #header .humburger .bar::after,
  #header .humburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: black;
    transition: .3s ease;
    transition-property: top, bottom;
  }
  
  #header .humburger .bar::after{
    top: 8px;
  }
  
  #header .humburger .bar::before{
    bottom: 8px;
  }
  #header .humburger.active .bar::before{
    bottom: 0;
  }
  
  #header .humburger.active .bar::after{
    top: 0;
  }
  #header h1{
    color: black;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 3.5rem;
    text-transform: capitalize;
    font-family: 'Eagle Lake';
    letter-spacing: .2rem;
    font-weight: bold;
    margin-left: -6%;
    margin-top: 0%;
  }
  #header h2{
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-size: 2rem;
    margin-left: 0%;
    text-decoration: none;
    text-transform: uppercase;
    background-color: crimson;
  
  }
  #header .brand{
    margin-left: -25%;
  }
  #header .logo{
    margin-top: 5px;
    width: 5%;
    height: auto;
    margin-left: 50px;
  }
  #abouts .img{
      height: auto;
      margin-top: 50px;
      margin-left: -45%;
  }
  
  #abouts p{
      margin-left: 50%;
      width: 500px;
      margin-top:-30%; 
      font-size: 1.8rem;
      color: royalblue;
      font-family: 'Kanit', sans-serif;
  }
  #header .humburger{
     display: none;
  }
  
  #header .nav-list ul{
     position: initial;
     display: block;
     height: auto;
     width: fit-content;
     background-color: transparent;
  }
  #header .nav-list ul li{
     display: inline-block;
  }
  
  #header .nav-list ul li a {
     font-size: 2rem;
  }
.theme-wallpaper::before{
    background-image: url(../img/backgrond1.jpg);
}
.theme-wallpaper::before{
    content: '';
    position: absolute;
    right: 0;
    width: 50%;
    height: 122%;
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: inherit
}
#paymentpage-container {
    position: relative;
    font-family: "Muli", "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#desktop-container {
    width: 90%;
    padding: 0;
    margin: 0 10%;
}




#desktop-container #header-details {
    padding: 24px 0;
    color: #0d2366;
    margin: 20px 130px;
    display: table;
    min-height: 112px;
}
#desktop-container #details-view, #desktop-container #header-details {
    width: 50%;
}
#header-details {
    position: relative;
}
#desktop-container #header-details #header-logo img {
    width: 50px;
    height: 50px;
    line-height: 62px;
    object-fit: cover;
   
}

#desktop-container #header-details {
    padding: 24px 0;
    color: #0d2366;
    margin: 20px 0;
    display: table;
    min-height: 112px;
    text-transform: capitalize;
}
#desktop-container #header-details #merchant-name {
    font-weight: bold;
    line-height: 28px;
    max-width: 80%;
    display: inline-block;
    vertical-align: middle;
   
}
#desktop-container #header-details > div:nth-of-type(n+2) {
    padding-left: 16px;
}
#desktop-container #header-details > div {
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
}
#desktop-container #header-details {
    padding: 24px 0;
    color: #0d2366;
    margin: 0px 0;
    display: table;
    min-height: 112px;
}
#desktop-container #header-details span {
    color: crimson;
}
#desktop-container #main-view {
    padding: 30px 32px;
    width: 480px;
    float: right;
    top: -22px;
    left: -60px;
}
#main-view {
    position: relative;
    border-radius: 2px;
    box-shadow: 6px 11px 24px 0 rgba(23,31,37,0.12);
    background: #fff;
}
.slider-view {
    background: #fff;
    position: relative;
    transition: 0.2s;
}
.title {
    position: relative;
    color: #0d2366;
    overflow-wrap: break-word;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

#paymentpage-container .title-underline {
    border-color: crimson;
}
.title-underline {
    display: block;
    width: 28px;
    border-bottom: 5px solid;
    margin-top: 20px;
    border-color: #528ff0;
}
#desktop-container #form-section {
    height: 100%;
}
.title + #form-section {
    margin-top: 36px;
}
#form-section {
    position: relative;
}
.UI-form.UI-form {
    position: relative;
    color: #515978;
}
form {
    display: block;
    margin-top: 0em;
}
.UI-form.UI-form .Field-label {
    position: relative;
    float: left;
    width: 140px;
    font-size: 14px;
    line-height: 20px;
    color: #515978;
    word-break: break-word;
}
.UI-form.UI-form .Field-addon--before {
    left: 10px;
    font-size: 14px;
    font-weight: bold;
}
.UI-form.UI-form .Field-addon {
    position: absolute;
    top: 0;
    display: table;
    height: 100%;
}
.UI-form.UI-form .Field-addon > span> * {
    display: inline-block;
    vertical-align: middle;
}
.UI-form.UI-form .currency-symbol {
    margin-top: 0px;
    margin-left: -5px;
}
.UI-form.UI-form .Field-addon > * {
    display: table-cell;
    vertical-align: middle;
}
.UI-form.UI-form .Field--amount--selected div.Field-el, .UI-form.UI-form .Field--amount--selected input.Field-el {
    background: #fcfdff;
    border: 1px solid #dae7fc;
}
.UI-form.UI-form .Field-el {
    line-height: 16px;
    height: 100%;
    width: 100%;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 2px;
    overflow: hidden;
    font-size: 14px;
    padding: 0 9px;
    outline: none;
    color: inherit;
}
.UI-form.UI-form .Field--currency-1 .Field-addon--before + .Field-el {
    padding-left: 13px;
}
.UI-form.UI-form .Field--amount--selected div.Field-el, .UI-form.UI-form .Field--amount--selected input.Field-el {
    background: #fcfdff;
    border: 1px solid #dae7fc;
}
.UI-form.UI-form .Field-wrapper .Field-el label {
    line-height: 36px;
}
.UI-form.UI-form .Field--amount div.Field-el {
    pointer-events: none;
}
b {
    font-weight: bold;
}
.UI-form.UI-form .Field-wrapper {
    position: relative;
    height: 36px;
    min-width: 160px;
    max-width: 360px;
    color: #0d2366;
}
    .UI-form.UI-form .Field {
    position: relative;
    display: block;
    margin: 24px 0 -21px;
    transition: 0.12s;
}
.UI-form.UI-form .Field-content {
    margin-left: 164px;
}
.UI-form.UI-form .Field-error, .UI-form.UI-form .Field-description {
    font-size: 12px;
    margin: 4px 0;
    line-height: 16px;
}
.UI-form.UI-form .Field::after {
    content: '';
    display: table;
    clear: both;
}
#desktop-container #form-section #form-footer {
    margin: 48px -32px -30px -32px;
}
#form-section #form-footer {
    position: relative;
}
#form-section .form-footer-payment {
    position: relative;
    background: #f5f6f7;
    text-align: center;
}
#desktop-container #form-section #form-footer .form-footer-payment {
    min-height: 56px;
    padding-left: 32px;
    overflow: auto;
}
#desktop-container #form-section #form-footer #fin-logo {
    margin-top: 20px;
}
#form-section .form-footer-payment #fin-logo {
    width: 180px;
    float: left;
}
img {
    font-size: 12px;
    color: #515978;
    line-height: 20px;
}
#desktop-container #form-section #form-footer .btn {
    position: relative;
    width: 180px;
    min-height: 56px;
    font-size: 16px;
    font-weight: bold;
    line-height: 0px;
    float: right;
    border-radius: 0;
    text-align: center;
    color: #fff;
}
#form-section .form-footer-payment .btn span {
    display: inline-block;
}   
#form-section .form-footer-payment .btn {
    white-space: pre-wrap;
}
#paymentpage-container .btn {
    background-color: crimson;
    color: #fff !important;
}
.btn--gradient {
    background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%);
}
.btn {
    color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 2px;
    transition: all 0.3s;
    text-align: center;
    margin: 0;
}
#desktop-container #details-view, #desktop-container #header-details {
    width: 42%;
}
#details-view {
    position: relative;
    bottom: 0;
    white-space: nowrap;
}
#desktop-container #details-view #details-section {
    display: inline-block;
    width: 100%;
}
#desktop-container #details-view #details-section > div {
    margin-bottom: 40px;
}
#desktop-container #details-view #description-details {
    white-space: normal;
}
#details-view #details-section > div {
    position: relative;
}
#details-view #description-details {
    position: relative;
    color: #515978;
}
.title--big {
    font-size: 24px;
    line-height: 32px;
}
.title {
    position: relative;
    color: #0d2366;
    overflow-wrap: break-word;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}
#paymentpage-container .title-underline {
    border-color: crimson;
}
.title-underline {
    display: block;
    width: 28px;
    border-bottom: 5px solid;
    margin-top: 20px;
    border-color: #528ff0;
}
#details-view #description-details #description {
    margin-top: 24px;
}
#details-view .details-value {
    margin-top: 4px;
    color: #515978;
    font-size: 14px;
    line-height: 22px;
}
.text-wrap {
    white-space: pre-wrap;
    word-wrap: break-word;
}
#paymentpage-container #description-quill.ql-disabled {
    border: none;
}
.ql-container.ql-snow {
    border: 1px solid #ccc;
}
.ql-snow {
    box-sizing: border-box;
}
.ql-container {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 100%;
    margin: 0px;
    position: relative;
}

#paymentpage-container #description-quill.ql-disabled .ql-editor {
    padding: 0;
}
#paymentpage-container .ql-editor {
    font-family: "Muli", "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0d2366;
}
.ql-clipboard {
    left: -100000px;
    height: 1px;
    overflow-y: hidden;
    position: absolute;
    top: 50%;
}
#paymentpage-container .ql-editor h2 {
    line-height: 1.5em;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #0d2366;
}
#paymentpage-container .ql-editor p {
    line-height: 20px;
    color: #515978;
}

#desktop-container #details-view #details-section > div {
    margin-bottom: 40px;
}
#details-view #details-section > div {
    position: relative;
}
#details-view label {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #0d2366;
    margin-bottom: 8px;
}
#desktop-container #share-details .share-icons {
    margin-top: 8px;
}
#share-details .share-icons {
    font-size: 0;
    margin-top: 8px;
}
.facebook {
    background-position: -2px 0px;
}
.facebook, .instagram, .linkedin, .twitter, .whatsapp {
    display: inline-block;
    background: url(https://cdn.razorpay.com/static/assets/social-share/icons.png) no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    width: 44px;
    height: 40px;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    margin-bottom: -16px;
    margin-right: -16px;
}
.twitter {
    background-position: -44px -42px;
}

.whatsapp {
    background-position: -2px -84px;
}

#desktop-container #details-view #details-section > div {
    margin-bottom: 40px;
}
#details-view #details-section > div {
    position: relative;
}
#details-view label {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color: #0d2366;
    margin-bottom: 8px;
}
#details-view #details-section > div .sub-detail {
    line-height: 28px;
}
a {
    text-decoration: none;
    color: #528ff0;
    display: inline-block;
}
#details-view #details-section > div .sub-detail {
    line-height: 28px;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.image1{
    width: 15px;
    height: 15px;
    
}
#details-view #support-details a div {
    color: #0d2366;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
}
.details-footer {
    font-size: 12px;
    line-height: 18px;
    box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.18);
    padding: 16px 0;
    width: 100%;
    color: #8894ba;
    white-space: normal;
}
.details-footer #rzp-logo {
    width: 98px;
    margin-bottom: 4px;
}
img {
    font-size: 12px;
    color: #515978;
    line-height: 20px;
}
a {
    text-decoration: none;
    color: #528ff0;
    display: inline-block;
}



@media screen and (min-device-width: 1366px) {
a.btn1-fixed{
    display: none;
}
}




@media screen and (max-device-width: 420px) {
    .theme-wallpaper::before{
        display: none;
    }
    #desktop-container #header-details {
        padding: 24px 0;
        color: #0d2366;
        margin: 20px 0px;
        display: table;
        min-height: 112px;
    }
    #desktop-container #header-details > div:nth-of-type(n+2) {
        padding-left: 90px;
        width: 320px;
        margin-top: -90px;
    }
    #desktop-container #header-details > div {
       
        font-size: 25px;
    }
    #desktop-container #header-details #header-logo img {
        width: 60px;
    height: 60px;
    line-height: 10px;
    padding-left: 10px;
   
    
}
img {
    font-size: 25px;
    color: #515978;
    line-height: 0px;
    margin-left: 0px;
}
    #desktop-container {
        width: 100%;
        padding: 0;
        margin: 0 0;
    }
    #desktop-container #main-view{
        display: none;
    }
    #desktop-container #details-view #details-section{
        display: inline-block;
    width: 300px;
    margin-left: 30px;
    }
    .details-footer{
        font-size: 12px;
    line-height: 18px;
    box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.18);
    padding: 16px 33px;
    width: 337px;
    color: #8894ba;
    white-space: normal;

    }

    .btn2 a{
    
    border: 0;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    
    padding: 10px 16px;
    border-radius: 2px;
    transition: all 0.3s;
    text-align: center;
    margin: 0;
}
a.btn1-fixed{
    text-decoration: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 93%;
    padding: 10px 16px;
    background-color: crimson;
}
}

@media screen and (max-device-width: 399px) {
    .theme-wallpaper::before{
        display: none;
    }
    #desktop-container #header-details {
        padding: 24px 0;
        color: #0d2366;
        margin: 20px 0px;
        display: table;
        min-height: 112px;
    }
    #desktop-container #header-details > div:nth-of-type(n+2) {
        padding-left: 90px;
        width: 320px;
        margin-top: -90px;
    }
    #desktop-container #header-details > div {
       
        font-size: 25px;
    }
    #desktop-container #header-details #header-logo img {
        width: 60px;
    height: 60px;
    line-height: 10px;
    padding-left: 10px;
   
    
}
img {
    font-size: 25px;
    color: #515978;
    line-height: 0px;
    margin-left: 0px;
}
    #desktop-container {
        width: 100%;
        padding: 0;
        margin: 0 0;
    }
    #desktop-container #main-view{
        display: none;
    }
    #desktop-container #details-view #details-section{
        display: inline-block;
    width: 300px;
    margin-left: 30px;
    }
    .details-footer{
        font-size: 12px;
    line-height: 18px;
    box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.18);
    padding: 16px 33px;
    width: 337px;
    color: #8894ba;
    white-space: normal;

    }

    .btn2 a{
    
    border: 0;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    
    padding: 10px 16px;
    border-radius: 2px;
    transition: all 0.3s;
    text-align: center;
    margin: 0;
}
a.btn1-fixed{
    text-decoration: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 94%;
    padding: 10px 16px;
    background-color: crimson;
}
}

@media screen and (max-device-width: 375px) {
    .theme-wallpaper::before{
        display: none;
    }
    #desktop-container #header-details {
        padding: 24px 0;
        color: #0d2366;
        margin: 20px 0px;
        display: table;
        min-height: 112px;
    }
    #desktop-container #header-details > div:nth-of-type(n+2) {
        padding-left: 90px;
        width: 285px;
        margin-top: -90px;
    }
    #desktop-container #header-details > div {
       
        font-size: 22px;
    }
    #desktop-container #header-details #header-logo img {
        width: 60px;
    height: 60px;
    line-height: 10px;
    padding-left: 10px;
   
    
}
img {
    font-size: 25px;
    color: #515978;
    line-height: 0px;
    margin-left: 0px;
}
    #desktop-container {
        width: 100%;
        padding: 0;
        margin: 0 0;
    }
    #desktop-container #main-view{
        display: none;
    }
    #desktop-container #details-view #details-section{
        display: inline-block;
    width: 300px;
    margin-left: 30px;
    }
    .details-footer{
        font-size: 12px;
    line-height: 18px;
    box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.18);
    padding: 16px 33px;
    width: 300px;
    color: #8894ba;
    white-space: normal;

    }

    .btn2 a{
    
    border: 0;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    
    padding: 10px 16px;
    border-radius: 2px;
    transition: all 0.3s;
    text-align: center;
    margin: 0;
}
a.btn1-fixed{
    text-decoration: none;
    font-size: 25px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 90%;
    padding: 10px 16px;
    background-color: crimson;
}
}

@media screen and (max-device-width: 360px) {
    .theme-wallpaper::before{
        display: none;
    }
    #desktop-container #header-details {
        padding: 24px 0;
        color: #0d2366;
        margin: 20px 0px;
        display: table;
        min-height: 112px;
    }
    #desktop-container #header-details > div:nth-of-type(n+2) {
        padding-left: 90px;
        width: 285px;
        margin-top: -90px;
    }
    #desktop-container #header-details > div {
       
        font-size: 22px;
    }
    #desktop-container #header-details #header-logo img {
        width: 60px;
    height: 60px;
    line-height: 10px;
    padding-left: 10px;
   
    
}
img {
    font-size: 25px;
    color: #515978;
    line-height: 0px;
    margin-left: 0px;
}
    #desktop-container {
        width: 100%;
        padding: 0;
        margin: 0 0;
    }
    #desktop-container #main-view{
        display: none;
    }
    #desktop-container #details-view #details-section{
        display: inline-block;
    width: 300px;
    margin-left: 30px;
    }
    .details-footer{
        font-size: 12px;
    line-height: 18px;
    box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.18);
    padding: 16px 33px;
    width: 300px;
    color: #8894ba;
    white-space: normal;

    }

    .btn2 a{
    
    border: 0;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    
    padding: 10px 16px;
    border-radius: 2px;
    transition: all 0.3s;
    text-align: center;
    margin: 0;
}
a.btn1-fixed{
    text-decoration: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 94%;
    padding: 10px 16px;
    background-color: crimson;
}
}


@media screen and (max-device-width: 320px) {
    .theme-wallpaper::before{
        display: none;
    }
    #desktop-container #header-details {
        padding: 24px 0;
        color: #0d2366;
        margin: 20px 0px;
        display: table;
        min-height: 112px;
    }
    #desktop-container #header-details > div:nth-of-type(n+2) {
        padding-left: 90px;
        width: 285px;
        margin-top: -90px;
    }
    #desktop-container #header-details > div {
       
        font-size: 22px;
    }
    #desktop-container #header-details #header-logo img {
        width: 60px;
    height: 60px;
    line-height: 10px;
    padding-left: 10px;
   
    
}
img {
    font-size: 25px;
    color: #515978;
    line-height: 0px;
    margin-left: 0px;
}
    #desktop-container {
        width: 100%;
        padding: 0;
        margin: 0 0;
    }
    #desktop-container #main-view{
        display: none;
    }
    #desktop-container #details-view #details-section{
        display: inline-block;
    width: 300px;
    margin-left: 30px;
    }
    .details-footer{
        font-size: 12px;
    line-height: 18px;
    box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.18);
    padding: 16px 33px;
    width: 300px;
    color: #8894ba;
    white-space: normal;

    }

    .btn2 a{
    
    border: 0;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    
    padding: 10px 16px;
    border-radius: 2px;
    transition: all 0.3s;
    text-align: center;
    margin: 0;
}
a.btn1-fixed{
    text-decoration: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 106%;
    padding: 10px 16px;
    background-color: crimson;
}
}